#u234_state0 {
    height: 300px;
}
div.ea_discovery_panel .text p span .ea-section-title{
    font-weight: bold;
    color: rgb(216, 71, 20);
}
div.ea_discovery_panel .text p span .ea-section-body{
    font-size: 12px;
}